<% provide(:title, 'Meetem') %>

<div class    = "center hero-unit">
	<h1>Welcome to Meetem</h1>
	<p>Find your perfect baby sitter, personal trainer, tutor.....</p>
	<h2>
		Meet 'em before you meet them
	</h2>
	<%= link_to "Search", people_path, class: "btn btn-large btn-primary" %>
</div>