<% provide(:title, 'People') %>
<% if signed_in? %>
	<%= link_to "Add new person", new_person_path, class: "btn btn-mini btn-primary" %>
<% end %>
	<h1>People</h1>
	<table>
		<% @people.each do |person| %>
		<tr>
			<td><%= raw person.video_embed_code %></td>
			<td><%= link_to person.name, person_path(person) %></td>
			<td><%= person.phone_number %></td>
			<% end %>
		</tr>
	</table>
